table {
    display:flex;
    border: thick solid;
    padding: 10px;
    margin: 0%;
    font-weight: bold;
}

th {
    display:flex;
    border: thin solid;
    padding: 10px;
    margin: 0%;
    color: rgba(8, 71, 63, 0.692);
    background: rgb(255, 255, 255)
}

td {
    display:flex;
    border: thin solid;
    padding: 10px;
    margin: 0%;
    color: rgb(14, 14, 14);
    background: rgb(255, 255, 255)
}
@media screen and (max-width: 800px) {
    td {
        flex: 50%;
        max-width: 50%;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    td{
        flex: 100%;
        max-width: 100%;
        flex-direction: column;

    }
}
